@charset "UTF-8";

body{
    background-color: cadetblue;
}

h1{
    color: #47db0d;
}

.basico{
    color: #aef58d;
}

.intermediario{
    color: #f5f38d;
}

.avancado{
    color: #ff2828;
}
#primeiro{
    background-color: rgb(34, 111, 114);
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}